.catalog-item__subtitle-hit {
  font-size: 17px;
  font-weight: 700;
  line-height: 16px;

  margin: 8px 0 30px;

  text-transform: uppercase;

  color: #63d1bb;
}

.catalog-item__features {
  font-size: 15px;
  font-weight: 400;
  line-height: 20px;

  margin: 28px 0;

  color: #444;
}

.catalog-item__feature {
  line-height: 40px;

  display: flex;

  border-bottom: 1px solid #ececec;
}

.catalog-item__price {
  font-size: 15px;
  font-weight: 700;
  line-height: 24px;
}

.catalog-item__price--hit {
  font-size: 17px;

  padding: 28px;

  text-align: center;

  color: #444;
}

.catalog-item__price--order {
  margin-top: 27px;
  padding: 28px 0;

  border-top: 1px solid #ececec;
}

.catalog-item__link--order {
  display: block;

  padding: 0 28px;

  border: 1px solid #ececec;
}

.catalog-item {
  padding: 30px $base-x-padding 0;
}

.catalog-item__image {
  margin: 0 -28px 31px;
}

.catalog-item__feature div {
  min-width: 98px;
}

.catalog-item__link--order * {
  @include outlined();
}

@media (min-width: $tablet-width) {
  .catalog-item,
  .catalog-item__titles {
    @include clearfix;
  }

  .catalog-item__title--hit {
    font-size: 43px;
    line-height: 50px;

    float: left;
  }

  .catalog-item__subtitle-hit {
    font-size: 17px;
    line-height: 16px;

    float: right;

    width: 70px;
  }

  .catalog-item__info,
  .catalog-item__price--hit,
  .catalog-item__order-button {
    float: left;

    width: 282px;
  }

  .catalog-item__image--hit {
    float: right;

    width: 333px;
    height: auto;
    margin-left: 44px;
  }

  .catalog-item__description {
    font-size: 17px;
    line-height: 30px;
  }

  .catalog-item__link--order {
    display: flex;

    padding: 0;
  }

  .catalog-item__image {
    width: 334px;
    height: auto;
    margin: 0;

    flex-shrink: 0;
  }

  .catalog-item__details {
    display: flex;
    flex-direction: column;

    width: 334px;
    padding-top: 25px;
    padding-left: 28px;

    flex-shrink: 0;
  }

  .catalog-item__title {
    font-size: 20px;
    line-height: 24px;

    margin-bottom: 3px;
  }

  .catalog-item__text {
    font-size: 15px;
    line-height: 30px;
  }

  .catalog-item__price--order {
    margin-top: auto;
  }
}

@media (min-width: $descktop-width) {
  .catalog-item__image--hit {
    width: 525px;
  }

  .catalog-item__titles {
    display: flex;
  }

  .catalog-item__title--hit {
    font-size: 53px;
    line-height: 57px;

    order: 1;
  }

  .catalog-item__subtitle-hit {
    margin-top: 15px;
    margin-right: 58px;
    margin-left: 47px;

    text-align: center;
  }

  .catalog-item__info {
    margin-top: 52px;
  }

  .catalog-item__info,
  .catalog-item__price--hit,
  .catalog-item__order-button {
    margin-left: 175px;
  }
}
