.catalog-page__title {
  background: #f1f1f1;
}

/*  font-size: 53px;
  line-height: 57px;

  padding-bottom: 99px;

}
*/
.catalog-page__catalog-section .container {
  display: flex;
  flex-direction: column;
  /*padding-top: 146px;*/

  justify-content: space-around;
}

@media (min-width: $tablet-width) {
  .catalog-page__catalog-section .container {
    padding-top: 79px;
  }
}

@media (min-width: $descktop-width) {
  .catalog-page__title {
    padding-bottom: 28px;
  }

  .catalog-page__catalog-section .container {
    flex-direction: row;

    padding-top: 130px;
  }  
}
