.catalog-item__subtitle-hit {
  font-size: 17px;
  font-weight: 700;
  line-height: 16px;

  margin: 8px 0 30px;

  text-transform: uppercase;

  color: #63d1bb;
}

.catalog-item__features {
  font-size: 15px;
  font-weight: 400;
  line-height: 20px;

  margin: 28px 0;

  color: #444;
}

.catalog-item__feature {
  line-height: 40px;

  border-bottom: 1px solid #ececec;
}

.catalog-item__price {
  font-size: 17px;
  font-weight: 700;
  line-height: 24px;

  padding: 28px;

  color: #444;
}
