.features-list {
  margin-top: 15px;
  padding-bottom: 0;
}

.features-list__item {
  font-size: 17px;
  font-weight: 700;

  margin: 15px 0;
  padding-top: 58px;

  color: black;
}

@media (min-width: $tablet-width) {
  .features-list {
    @include clearfix;
  }

  .features-list__item {
    float: left;

    width: 50%;
    padding-right: 99px;
  }
}

@media (min-width: $descktop-width) {
  .features-list__item {
    font-size: 20px;
    width: 325px;
    padding-right: 60px;
  }
}