.index-page__title-width-image {
  font-size: 27px;
  line-height: 30px;

  box-sizing: border-box;
  min-height: 283px;
  padding: 0 $base-x-padding;
  padding-top: 67px;

  text-align: center;

  background: url('../img/hero-mobile@1x.jpg') no-repeat 50% -20px;
}

.index-page__features .container,
.index-page__reviews  .container {
  padding: 34px $base-x-padding 27px;
}

.index-page__contacts  .container {
  padding: 51px $base-x-padding 39px;
}

.index-page__contacts-title {
  font-size: 18px;
  font-weight: 700;
  line-height: 30px;
}

.index-page__features-title {
  margin-bottom: 15px;
}

.index-page__reviews-title {
  margin-bottom: 22px;
}
