$desctop-padding: 111px;

.order-form * {
  @include outlined();
}

.order-form {
  padding: 0 $base-x-padding 55px;
}

.order-form__label {
  font-size: 17px;
  font-weight: 700;
  /*line-height: 18px;*/
  line-height: 26px;

  display: block;
  /*margin: 11px 0;*/

  margin: 24px 0;
  padding: 12px 0;
  padding-left: 64px;
}

.order-form__section-title {
  font-size: 17px;
  font-weight: 700;
  line-height: 16px;

  margin-top: 36px;

  text-transform: uppercase;

  color: #63d1bb;
}

.order-form__full-name-title {
  margin-bottom: 37px;
}

.order-form__full-name-label {
  display: block;

  margin-top: 24px;
}

.order-form__line-input {
  font-size: 17px;
  /*line-height: 18px;*/
  line-height: 30px;

  padding-top: 20px;
  padding-bottom: 17px;

  color: #444;
  box-shadow: inset 0 -2px 0 black;
}

.order-form__additionals-input {
  margin-top: 31px;
  margin-bottom: 18px;
  padding: 18px 17px;

  border: 2px solid #444;
  background-color: white;
}

.order-form__text {
  font-size: 13px; /* В макете 14, но не влезает в одну строку */
  font-weight: 400;

  margin: 0 -2px 22px;

  color: #444;
}

@media (min-width: $tablet-width) {
  .order-form {
    padding-right: 0;
    padding-left: 0;
  }

  .order-form__group {
    display: flex;

    padding-top: 50px;
    padding-right: 0;
    padding-bottom: 50px;
    padding-left: 0;
  }

  .order-form .container {
    display: flex;

    padding-right: 51px;
    padding-left: 51px;
  }

  .order-form__group:nth-child(2n) {
    background: #f1f1f1;
  }

  .order-form__group:last-child {
    background: white;
  }

  .order-form__group--names .container {
    padding-right: 47px;

    flex-wrap: wrap;
  }

  .order-form__section-title {
    width: 166px;
    margin-top: 0;
    padding-top: 26px;

    flex-shrink: 0;
  }

  .order-form__label {
    margin-top: 0;
    padding-left: 80px;
  }

  .order-form__inputs {
    display: flex;

    width: 500px;

    flex-wrap: wrap;
  }

  .order-form__label--checkbox {
    width: 50%;
  }

  .order-form__name-lines {
    flex-direction: column;
  }

  .order-form__full-name-label {
    font-size: 19px;

    margin-top: 12px;
    margin-right: 25px;
  }

  .order-form__line-input {
    line-height: 22px;

    width: 100%;
    margin-bottom: 24px;
    padding: 14px 17px;

    background: none;
  }

  .order-form__name-line {
    display: flex;
  }

  .order-form__additionals-input {
    width: 100%;
    margin: 0;
  }

  .order-form__text {
    font-size: 17px;
    line-height: 30px;

    margin: 0;
    padding: 11px;

    text-align: right;

    order: 1;
    flex-grow: 1;
  }

  .order-form__submit {
    padding: 15px;
  }
}

@media (min-width: $descktop-width) {
  .order-form__section-title {
    width: 115px;
  }

  .order-form__inputs {
    width: 760px;

    flex-shrink: 0;
  }

  .order-form__label--checkbox {
    width: 33%;
  }

  .order-form__group {
    padding-top: 62px;
    padding-bottom: 62px;
  }

  .order-form__group:first-child .order-form__inputs {
    flex-direction: column;
  }

  .order-form__line-input {
    line-height: 18px;

    padding: 17px;

    background: none;
  }

  /*.order-form__group--bottom {
    padding-right: 102px;
    padding-left: 177px;
  }*/


  .order-form__group .container {
    padding-right: 111px;
    padding-left: 111px;
  }
}
