.page-footer {
  text-align: center;

  background: #f1f1f1;
}

.page-footer__socials,
.page-footer__academy {
  display: block;

  min-height: 80px;
  padding: 30px;

  vertical-align: middle;
}

.page-footer__academy span,
.page-footer__academy img {
  line-height: 34px;

  display: inline-block;

  vertical-align: top;
}

@media (min-width: $tablet-width) {
  .page-footer .container {
    /*padding-left: 260px;*/
    display: flex;

    justify-content: stretch;
    @include clearfix;
  }

  /*.page-footer__logo,
  .page-footer__socials,
  .page-footer__academy {
    width: 244px;
    float: left;
  }*/
}

@media (min-width: $descktop-width) {
  .page-footer__logo {
    padding-top: 51px;
  }

  .page-footer__socials {
    display: flex;

    margin: 0 auto;
    padding: 57px 30px;

    justify-content: space-between;
  }

  .page-footer__social-item {
    display: block;

    height: 29px;
    margin: 0 20px;
  }

  .page-footer__academy {
    padding: 58px 0;
  }
}
