.page-header {
  text-align: center;

  border-bottom: 1px solid #ececec;
}

.page-header__logo {
  padding: 22px 22px 17px;
}

.page-header__search {
  font-size: 17px;
  font-weight: 700;
  line-height: 24px;

  width: 150px;
  margin-left: 16px;
  padding: 0 5px;
}

@media (min-width: $tablet-width) {
  .page-header {
    text-align: left;
  }

  .page-header__logo {
    display: block;

    width: 350px;
    padding: 20px 28px 0;
  }

  .page-header__logo img {
    width: 113px;
    height: 46px;
  }

  .page-header__search-form {
    padding: 0;
  }

  .page-header__search {
    display: none;
  }
}

@media (min-width: $descktop-width) {
  .page-header__logo img {
    width: 149px;
    height: 72px;
  }
}
