.page-footer {
  text-align: center;

  background: #f1f1f1;
}

.page-footer__socials,
.page-footer__academy {
  display: block;

  min-height: 80px;
  padding: 30px;

  vertical-align: middle;
}

.page-footer__academy span,
.page-footer__academy img {
  line-height: 34px;

  display: inline-block;

  vertical-align: top;
}

.page-footer {
  margin-top: 49px;
}

.page-footer__logo {
  display: none;
}

@media (min-width: $tablet-width) {

  .page-footer {
    margin-top: 0;
  }

  .page-footer__logo {
    display: block;
  }

  .page-footer .container {
    display: flex;

    justify-content: stretch;
  }

  .page-footer__logo {
    padding: 50px;
  }

  .page-footer__socials {
    display: flex;

    margin: 0 auto;
    padding: 57px 30px;

    flex-wrap: wrap;
    justify-content: space-between;
  }

  .page-footer__social-item {
    display: block;

    height: 29px;
    margin: 0 20px;
  }

  .page-footer__academy {
    padding: 56px 50px;
  }
}
