$production-padding: 34px;
$production-padding-reverse: -$production-padding;

.production-container {
  margin: 30px $base-x-padding 58px;
  padding: 29px $production-padding 33px;

  border: 1px solid #ececec;
}

.production__title {
  font-size: 17px;
  font-weight: 700;
  line-height: 24px;

  margin-bottom: 26px;
  padding-left: 57px;
}

.production__text {
  font-size: 13px;
  line-height: 24px;

  margin: 34px 0 29px;

  color: #444;
}

.production__image {
  display: block;

  margin: 0 $production-padding-reverse;
}

.production__order {
  width: auto;
}

@media (min-width: $tablet-width) {
  .production-container {
    display: flex;
    flex-direction: column;

    padding-top: 0;
  }

  .production__title {
    font-size: 20px;

    margin-top: 39px;
  }

  .production__image {
    width: 668px;
    height: 455px;
    margin: -1px -35px 0;

    border-bottom: 1px solid #ececec;

    order: -1;
  }

  .production__text {
    font-size: 15px;
    line-height: 30px;

    margin-top: 18px;
    margin-bottom: 36px;
  }
}
@media (min-width: $tablet-width) {
  .production__image {
    align-self: flex-start;
  }

  .production-container {
    align-items: flex-end;
  }

  .production__title {
    padding-left: 0;
    padding-top: 53px;
  }

  .production__title,
  .production__order,
  .production__text {
    width: 230px;
  }
}
