.top-menu {
  @include clearfix;
}

.top-menu__link {
  font-size: 19px;
  font-weight: 700;
  line-height: 24px;

  display: block;

  padding: 30px;

  color: white;
  background-color: #63d1bb;
  @media (min-width: $tablet-width) {
  }
}

.top-menu__link span {
  display: block;

  max-width: 120px;
}

.top-menu__link--toys {
  background-color: #56c3b2;
}

@media (min-width: $tablet-width) {
  .top-menu {
    padding: 0 30px;
  }

  .top-menu__item {
    float: left;
  }

  .top-menu__link {
    font-size: 20px;
    line-height: 30px;

    width: 334px;
  }
}

@media (min-width: $descktop-width) {
  .top-menu__item {
    width: 50%;
  }

  .top-menu__link {
    width: 100%;
  }
}